.header {
    height: var(--header-height);
    box-shadow: var(--shadow);
    position: fixed;
    inset: 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.header-left {
    width: calc(var(--header-height) - 12px);
}

.header-left img {
    width: 100%;
}

.header-search {
    --height-search: 30px;
    --radius: 12px;
    border-radius: var(--radius);
    height: var(--height-search);
    display: flex;
    align-items: center;
    background: #ddd;
    position: relative;
}

.search-input {
    height: var(--height-search);
    border-radius: var(--radius) 0 0 var(--radius);
    outline: none;
    border: none;
    min-width: 300px;
    font-size: 1.5rem;
    padding: 4px 12px;
    color: #bbb;
}

.search-icon {
    width: calc(var(--height-search) + 12px);
    height: var(--height-search);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    border-radius:  0 var(--radius) var(--radius) 0;
    transition: all linear 0.25s;
    p
}

.search-icon:hover {
    cursor: pointer;
    background: var(--gray-color);
}

.sub-search {
    list-style-type: none;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    right: 0;
    background: var(--white-color);
    padding: 6px 0;
    box-shadow: var(--shadow);
    max-height: 190px;
    overflow-y: scroll;
    display: none;
}

.sub-search.active {
    display: block;
}

.sub-search__item {
    background: #ddd;
    display: flex;
    align-items: center;
    padding: 4px 12px;
}

.sub-search__item:hover {
    cursor: pointer;
    background: var(--gray-color);
}

.search-item__img {
    --width: 28px;
    width: var(--width);
    display: flex;
    align-items: center;
}

.search-item__img img {
    object-fit: cover;
    width: 100%;
    border: 1px solid var(--black-color);
}

.search-item__info {

}

.search-item__name {
    margin-left: 4px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .user-profile {
    background: #ccc;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    height: var(--header-height);
}

.header-right .user-profile__img {
    width: calc(var(--header-height) - 12px);
}

.header-right .user-profile__img img {
    border: 1px solid var(--black-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header-right .user-profile__fullname {
    font-size: 1.6rem;
    margin-left: 8px;
    font-weight: 500;
}

.header-right .btn-logout {
    padding: 0px;
    margin-left: 12px;
}

.header-right .btn-logout a {
    color: var(--black-color);
    text-decoration: none;
    font-size: 1.4rem;
    background: #f69d82;
    display: block;
    padding: 4px 12px;
    border-radius: 4px;
}

.main {
    height: 100vh;
    padding-top: var(--header-height);
}

.main-wrap {
    height: 100%;
    display: flex;
}

.main-left {
    width: 300px;
    background: #ccc;
}

.left-list {
    list-style-type: none;

}

.left-item {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    gap: 12px;
    transition: all linear 0.25s;
}

.left-item:hover {
    cursor: pointer;
    background: #ddd;
}

.left-item.active {
    background: linear-gradient(#ddd, #eee);
}

.left-item__avatar {
    --width: 52px;
    flex-shrink: 0;
    width: var(--width);
}

.left-item__avatar img {
    border-radius: 50%;
    border: 4px solid transparent;
    width: var(--width);
    height: var(--width);
    object-fit: cover;
}

.left-item__avatar.active img {
    border: 4px solid green;
}

.left-item__info {

}

.left-item__name {
    font-size: 1.8rem;
    font-weight: 500;
}

.left-item__last-mess {
    font-size: 1.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 4px;
}

.left-item__state .fa-solid.fa-circle-check {
    display: none;
}

.left-item__state .fa-regular.fa-circle-check {
    display: block;
}

.left-item__state.active .fa-solid.fa-circle-check {
    display: block;
}

.left-item__state.active .fa-regular.fa-circle-check {
    display: none;
}

.main-right {
    flex: 1;
    box-shadow: 2px 0px 4px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
}

.main-right__conversation {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    overflow-y: scroll;
    height: calc(100% - var(--chat-height));
}

.conversation-item {
    padding: 4px 12px;
    border-radius: 6px;
    background: var(--gray-color);
    width: fit-content;
    font-size: 1.6rem;
    max-width: 80%;
}

.conversation-item + .conversation-item {
    margin-top: 4px;
}

.conversation-item.author {
    margin-left: auto;
}

.main-right__chat {
    display: flex;
    width: 100%;
    margin-top: auto;
    padding: 6xp 12px;
    background: #ccc;
    min-height: var(--chat-height);
}

.chat-input {
    padding: 4px 12px;
    font-size: 1.6rem;
    flex: 1;
    border: none;
    outline: none;
}

.chat-send {
    min-width: 60px;
    border-radius: 0px;
    transition: all linear 0.25s;
}

.chat-send:hover {
    background: #ddd;
}
