{% extends 'layout/base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<header class="header">
    <div class="header-wrap grid">
        <div class="header-left">
            <img src="{{ url_for('static', filename='img/hacker.png') }}" alt="logo">
        </div>
        <div class="header-search">
            <input type="text" name="search" class="search-input">
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="header-right">
            <div class="user-profile">
                <div class="user-profile__img">
                    <img src="{{ current_user.avatar }}" alt="">
                </div>
                <div class="user-profile__fullname">
                    {{ current_user.fullname }}
                </div>
            </div>
            <div class="btn btn-logout">
                <a href="/logout">Đăng xuất</a>
            </div>
        </div>
    </div>

</header>
<section class="main">
    <div class="main-wrap grid">
        <div class="main-left">

        </div>
        <div class="main-right">

        </div>
    </div>
</section>
<footer class="footer">

</footer>
{% endblock %}